<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store_co">
<select id="list" resultType="storeco.StoreCOVO">
select * from store_item

</select>

<insert id="insert_purchase">
insert into store_purchase_product
values (SEQ_order_num.NEXTVAL,#{item_code},'Co',1,'kgg',#{purchase_cnt})
</insert>

<select id="list_purchase" resultType="storeco.StorePurchaseListVO">
select p.order_num,p.item_code,p.delivery_code,p.id,p.purchase_cnt,i.item_name,i.item_price,i.item_img,i.item_content
from store_purchase_product p , store_item i
where p.item_code = i.item_code
order by p.order_num desc


</select>


</mapper>