<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store_myinfo">

<select id="myinfo" resultType="storemyinfo.StoreMyinfoVO">
select m.id,s.money,m.name 
from store_myinfo s, ling_member m
where s.id = m.id
and m.id=#{id}
</select>




<update id="charge">
update store_myinfo
set money= money+#{edtMoney}
where id=#{id}
</update>

<update id="buy">
update store_myinfo
set money= money-#{totalPrice}
where id=#{id}
</update>

<insert id="insert_zzim">
INSERT INTO store_zzim_product (zzim_code,ITEM_CODE, CATEGORY_CODE, ID) 
VALUES (seq_zzim.nextval,#{item_code}, #{category_code}, #{id})

</insert>

<select id="zzimlist" resultType="storemyinfo.StoreZzimListVO">
select  z.*,i.*
from store_zzim_product z, store_item i
where z.item_code=i.item_code
and id=#{id}
order by z.zzim_code desc
</select>

<delete id="deletezzim">
delete from store_zzim_product
where item_code=#{item_code}
</delete>

<delete id="deletebuylist">
delete from store_purchase_product
where order_num=#{order_num}
</delete>

<delete id="deletereturn">
delete from store_return_list
where return_code=#{return_code}
</delete>

<update id="bank">
update store_myinfo set bank = #{bank} where id=#{id}
</update>

<select id="select_bank" resultType="storemyinfo.StoreMyinfoVO">
SELECT NVL(bank, ' ') AS bank
FROM store_myinfo
WHERE id = #{id}
</select>

<update id="update_address">
update Store_myinfo set address = #{address} where id=#{id}
</update>

<select id="select_address" resultType="storemyinfo.StoreMyinfoVO">
select nvl(address,'주소를 입력해주세요.') as address from store_myinfo where id = #{id}
</select>

<update id="update_detailadd">
update Store_myinfo set detail_add = #{detail_add} where id= #{id}
</update>

<select id="select_detailadd" resultType="storemyinfo.StoreMyinfoVO">
select nvl(detail_add,'상세주소를 입력해주세요.') as detail_add from store_myinfo where id = #{id}
</select>

<insert id="insert_myinfo">
insert into store_myinfo(id,money) values(#{id},0)
</insert>

</mapper>