<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emp">

<select id="list" resultType="employees.EmployeesVO">
	select e.employee_id, e.first_name || ' ' || e.last_name emp_name, 
       case when mod(e.employee_id, 2)=0 then e.email || '@gmail.com'
            else e.email || '@naver.com' end as email,
            replace(e.phone_number, '.', '-') as phone_number,
            to_char(e.hire_date, 'YYYY-MM-DD') as hire_date, j.job_title, d. department_name,
            case when e.commission_pct is null then to_char((e.salary * 1289) + nvl((e.commission_pct*e.salary*1289),0), '999,999,999') || '원'
            else to_char((e.salary * 1289) + nvl((e.commission_pct*e.salary*1289),0), '999,999,999') || '원' || 
            '(' || to_char(nvl((e.commission_pct * e.salary * 1289), 0), '999,999,999') || ')' end as salary
from employees e, jobs j, departments d
where e.department_id = d.department_id(+)
and e.job_id = j.job_id(+)
order by 1
</select>
	
</mapper>